<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Crear evento</title>
</head>

<body>
    <div class="container">
        <div class="dividir">
            <h1>Evento</h1>
            <a href="/eventos">Inicio</a>
            <a href="/cerrar">Cerrar sesion</a>
        </div>

        <div class="container2">
            <form action="/creando" method="post">
                <input type="hidden" name="usuario_id" value="{{ session['usuario_id'] }}">
                <div class="sep">
                <label for="evento">Nombre evento:</label>
                <input type="text" name="evento" required><br><br>
                </div>
                <div class="sep">
                <label for="ubicacion">Ubicacion:</label>
                <input type="text" name="ubicacion" required><br><br>
                </div>
                <div class="sep">
                <label for="fecha">Fecha:</label>
                <input type="date" name="fecha" required><br><br>
                </div>
                <div class="sep">
                <label for="descripcion">Descripcion:</label>
                <textarea name="descripcion" required></textarea><br>
                </div>
                <br><button class="btn" type="submit">Guardar evento</button>
            </form>
        </div>
    </div>
</body>

</html>