h1 {
    color: rgb(9, 9, 73);
    text-align: center;
}
.dividir a {
    display: flex;
    align-items: center;
}
input {
    margin-left: auto;
}
label {
    margin-right: auto;
}

.container {
    width: 800px;
    height: 400px;

    margin: 0 auto;

}

.dividir {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.sep {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container2 {
    border-style: double;
    width: 400px;
    padding: 15px;
}

.btn {
border-style: double;
margin-left: 100px;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid black;
}

th {
    border: 3px solid black;
    background-color: rgb(204, 204, 204);
}
td {
    border: 3px solid black;
    background-color: rgb(239, 239, 239);
    text-align: center;
}

.der {
    text-align: right;
    padding: 30px;
}

.container3 {
    background-color: rgb(239, 239, 239);
    border-style: double;
}
.row {
    display: flex;
}

.col1 {
    flex: 1;
}

.col2 {
    flex: 6;
}

.error{
    color: red;
    font-weight: 900;
    font-size: 20px;
}
